* {
    padding: 0;
    margin: 0;
}

.main-container {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: white;
    color: gold;
}

.mirror-frame {
    width: 100vw;
    height: 100vh;
    background: url(./mirror_frame.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.inner-content {
    text-align: center;
    padding: 5% 0;
}

.header {
    padding: 0 10vw;
    font-family: 'Meddon', cursive;
    font-weight: normal;
    font-size: 2.5rem;
}

.result {
    margin: 0 auto;
    display: block;
    width: 50vw;
    height: auto;
    border-radius: 10px;
    filter: grayscale(50%) brightness(125%) saturate(180%) contrast(200%);
    transition: transform .8s;
}

.result:hover {
    transform: scale(1.06);
}

.video-container {
    display: none;
}

#reset-btn, #video { 
    margin-right: 10px;
    margin-top: 1rem;
    padding: 0.4rem 1rem;
    border-style: none;
    border-radius: 8px;  
    transition: font-size 0.3s;
}

#reset-btn:hover, #video:hover {
    box-shadow: 0px 0px 36px 2px rgba(255,215,0,1);
    
}

.video-container {
    text-align: center;
}

.video-display {
    display: block;
}
.video-btn-container {
    margin: 0 auto;
}


@media only screen and (max-width: 600px) {
    .header {
        font-size: 1.5rem;
        margin-top: 5rem;
    }

    .result {
        width: 80%;
    }
    video{
        width: 80%;
    }
    #reset-btn, #video {
        margin-top: 5rem;
    }
  }

  @media only screen and (max-width: 800px) {
    .header {
        margin-top: 4rem;
    }

    #reset-btn, #video {
        margin-top: 4rem;
    }
  }

  @media only screen and (max-width: 1024px) {
    .header {
        margin-top: 4rem;
    }

    #reset-btn, #video {
        margin-top: 4rem;
    }
  }